# Python cache / compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/

# Jupyter checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# Data and results (optional)
data/
results/
